*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family:'a Asian Hiro';
    src: url('fontie-package2/a Asian Hiro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-007E;
}

@font-face {
    font-family:'Japanese 3017';
    src: url('fontie-package/Japanese 3017.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

#bg {
background: radial-gradient(#a8dadc, #457b9d);

  background-size: 200% 200%;

    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}


.flex1 h1, .in-flex2 h1 {
  font-family: 'Permanent Marker', cursive;
}

.back-color {
  background: #f1faee;
}

.flex1 p, .in-flex2 p, #disclaimer p {
    font-family:'a Asian Hiro';
}

.tako-name, li, #disclaimer h6, #in-flex3 a, .font-col, .navbar-toggler-icon {
  font-family:'Japanese 3017';
  color: #e63946 !important;
}


.navtog { 
  font-size: 2em;
}

.takoimg{
  height: 4em;
  width: 3em;
}

.btn {
  color: #e63946;
  cursor: pointer;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn {
    margin: 0 1em 2em;
}

.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: #e63946;
  font-weight: 100;
}

.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-1 rect {
  fill: none;
  stroke: #e63946;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.35s linear;
}

.btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
}

.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all .1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all .35s cubic-bezier(0.19, 1, 0.22, 1);
}


/* Wobble To Top Right */
@-webkit-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.hvr-wobble-to-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-to-top-right:hover, .hvr-wobble-to-top-right:focus, .hvr-wobble-to-top-right:active {
  -webkit-animation-name: hvr-wobble-to-top-right;
  animation-name: hvr-wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


#disclaimer p {
  color:#e63946;
  text-align: justify;
}

.icons {
  color: #e63946;
}

#copy-right{
  background-color: #1d3557;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer {
  margin-bottom: 0;
}


/*BODY*/
.flexing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 0;

}

.flex1 {
  background: rgba(241, 250, 238, 0.4);
  width: 80vw;
  text-align: center;
  color: rgb(29, 53, 87);
}

.flex1 p, .in-flex2 p {
  font-size: 1.2em;
}

.flex2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
  height: 60vh;
}


.in-flex2 {
  justify-content: center;
  align-items: center;
  background: rgba(241, 250, 238, 0.4);
  margin-left: 3em;
  margin-right: 3em;
  color: rgb(29, 53, 87);
  height: 50vh;
  width: 20vw;
  padding: 1em 1em;
}

.in-flex2 p{
  text-align: justify;
}

/*END of BODY*/


.img-hover-zoom {
  width: 10em;
  height: 10em;
  border-radius: 100%;
  border: 0.5em solid #e63946; 
  overflow: hidden; 
}

.img-hover-zoom{
  transition: transform .5s ease;
}

.img-hover-zoom:hover{
  transform: scale(1.5);
}

@media only screen and (max-width: 450px) {
.tako-name {
  font-size: calc(1em+1vw);
  letter-spacing: 0.25em;
}

.takoimg{
  height: 4em;
  width: 3em;
}

#disclaimer h6 {
  font-size: .7em;
  letter-spacing: .5em;
  text-align: center;
}


.icons{
  font-size: 20px; 
}

#disclaimer p, #copyright {
  font-size: 0.4em;
}
}

@media only screen and (min-width: 451px) and (max-width: 699px) {
.tako-name {
  font-size: 1.1em;
  letter-spacing: 1em;
}

.takoimg{
  height: 4em;
  width: 3em;
}

#disclaimer h6 {
  font-size: 1em;
  letter-spacing: .5em;
  text-align: center;
}

#icons-main{
  text-align: center;
}


#disclaimer p, #copyright {
  font-size: 0.6em;
}

.icons {
  font-size: 30px;
}
}


@media only screen and (min-width: 700px) and 
(max-width: 960px) {
.tako-name {
  font-size: 1.5em;
  letter-spacing: 1em;
}

.takoimg{
  height: 4em;
  width: 3em;
}

#disclaimer h6 {
  font-size: 1em;
  letter-spacing: .5em;
}

#disclaimer p, #copyright {
  font-size: 0.7em;
}

.icons{
  font-size: 50px; 
}
}



@media only screen and (min-width: 961px) {
.tako-name {
  font-size: 2em;
  letter-spacing: 1em;
  margin-top: 50px;
}

.takoimg{
  height: 4em;
  width: 3em;
}

#disclaimer h6 {
  font-size: 2em;
  letter-spacing: .5em;
}

#disclaimer p, #copyright {
  font-size: 1em;
}

.icons{
  font-size: 100px; 
}
}


/*BODY*/
@media only screen and (min-width: 900px) and (max-width: 1200px){
.flex1, .in-flex2 {
  font-size: 0.76em;
}

.flex2 {
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.in-flex2 {
 width: 25vw;
}


}

@media only screen and (min-width: 1201px) and (max-width: 1500px){

.flex1, .in-flex2 {
  font-size: 0.8em;
}
}

@media only screen and (min-width: 1501px) and (max-width: 1800px){
.flex1, .in-flex2 {
  font-size: 0.8em;
}

.in-flex2 {
  padding-bottom: 3em;
}

}


@media only screen and (min-width: 700px) and (max-width: 800px){
.aboutimg {
  height: 10em;
  width: 10em;

}

.flex1, .in-flex2 {
  font-size: 0.75em;
}

.flex1 h1, .in-flex2 h1{
  font-size: 2.8em;
}

.in-flex2 {
  width: 25vw;
}
}

@media only screen and (min-width: 300px) and (max-width: 450px){

.flexing {
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.aboutimg {
  height: 10em;
  width: 10em;

}

.flex1 {

  margin-bottom: 1em;
}

.flex1, .in-flex2 {
  font-size: 0.6em;
}

.flex1 h1, .in-flex2 h1{
  font-size: 2.5em;
}

.flex2 {
  width: 100vw;
  display: flex;
  flex-direction: column;
} 

.in-flex2{
  width: 70vw;
  margin-bottom: 1em;
}

footer{
  margin-top: 30em;
}

#copy-right {
  font-size: 0.5em;
}

}
/*BODY*/

