body
 {
    background: 
    radial-gradient(#d62828, #f77f00, #fcbf49, #eae2b7);

    background-size: 400% 400%;

    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;

}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}


.Question h1, small{
  text-transform: uppercase;;
  font-family: 'Permanent Marker', cursive;
}


@media only screen and (min-width: 300px) and (max-width: 450px){
.octopus, .octopus2{
  display: none;
}


.octopus4 {
  position: absolute;
  z-index: -1
}

.Question  {
  position: absolute;
  width: 70%;
  top: 25em;
  text-align: center;
  margin-left: 18%;
  z-index: 2;
  box-sizing: border-box;
}

.Question h1, small{
  font-size: 1.5em;
  color: #f6f8f9;
}
.Project {
  top: 75%;
  left: 50%;
}
}

/*Hover-button*/
.Project {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 95%;
  left: 53%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 100;
}
.Project:hover .imgMasked {
  clip-path: circle(100px at center);
}

.Project:hover .Project-hail {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
.Project:hover .Project-hail2 {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: 80px solid #f6f8f9;
  opacity: 1;
}

.Project-hail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6f8f9;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transition: 0.5s;
  opacity: 0.2;
}
.Project-hail2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 0;
  transition: 0.7s;
  border: 22px solid #f6f8f9;
  border-radius: 20px;
  pointer-events: none;
}


@media only screen and (min-width: 700px) and 
(max-width: 800px) {

.octopus2, .octopus4{
  display: none;
}

.octopus {
  position: absolute;
  height: 90%;
  width: 90%;
  left: 2em;
  top: 3em;
  z-index: -1
}

.Question  {
  position: absolute;
  width: 50%;
  top: 10em;
  margin-left: 25%;
  text-align: center;
  z-index: 2;
  box-sizing: border-box;
}

.Question h1, small{
  font-size: 6vw;
  color: #f6f8f9;
}
.Project {
  top: 60%;
  left: 49%;
}
}

@media only screen and (min-width: 961px) {

.octopus, .octopus4{
  display: none;
}

.octopus2 {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5em;
  left: 6em;
  z-index: -1;
}

.Question  {
  position: absolute;
  width: 30%;
  top: 10em;
  left: 3em;
  text-align: center;
  z-index: 2;
}

.Question h1, small{
  font-size: 3em;
  color: #f6f8f9;
}
.Project {
  top: 60%;
  left: 80%;
}
}




