*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family:'a Asian Hiro';
    src: url('fontie-package2/a Asian Hiro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-007E;
}

@font-face {
    font-family:'Japanese 3017';
    src: url('fontie-package/Japanese 3017.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

#bg {
background: radial-gradient(#a8dadc, #457b9d);

 background-size: 200% 200%;

    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

.tako-name, #disclaimer h6, .font-col, .navbar-toggler-icon{
  font-family:'Japanese 3017';
  color: #e63946 !important;
}

#disclaimer p, .icons {
    color: #e63946;
}

.in-flex2 p, #disclaimer p, .in-flex2 button {
  font-family:'a Asian Hiro';
}

.navtog {
  font-size: 2em;
}


#disclaimer p {
  color: #e63946;
}

.back-color {
  background: #f1faee;
}


#copy-right{
  background-color: #1d3557;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}


.takoimg{
  height: 4em;
  width: 3em;
}

.btn {
  color: #e63946;
  cursor: pointer;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn {
    margin: 0 1em 2em;
}

.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: #e63946;
  font-weight: 100;
}

.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-1 rect {
  fill: none;
  stroke: #e63946;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.35s linear;
}

.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}

.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all .1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all .35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

@-webkit-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}


.hvr-wobble-to-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-wobble-to-top-right:hover, .hvr-wobble-to-top-right:focus, .hvr-wobble-to-top-right:active {
  -webkit-animation-name: hvr-wobble-to-top-right;
  animation-name: hvr-wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.carousel, .slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
  border-radius: 100%;
  height: 35em;
  width: 35em;
  overflow: hidden;
}

.flexing{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
}

.flex1 {
  background: rgba(255,250,250,0.3);
  width: 40vw;
  margin: 3em 7em 3em 0;
  padding: 2em 2em;
  color: #1d3557;
  text-align: center
}

.flex1 h1 { 
  font-size: 5em;
}

.flex1 p{
  font-size: 2em;
}

.in-flex2 {
  margin-left: 1em;
}

#in-flex3{
  display: flex;
  margin-top: 3em;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
}

#in-flex3 a{
  margin: 0;
  padding: 0;
}

#in-flex3 button {
  background: #e63946;
  border: none;
  text-decoration: none;
  height: 4em;
  width: 8em;
  font-size: 1.5em;
  color: rgb(255,250,250);
  border-radius: 15px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.flex1 span, .flex1 h1, #in-flex3 button {
  font-family: 'Permanent Marker', cursive;
}

.flex1 p {
  font-family:'a Asian Hiro';
}

.flex2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 450px) {
.tako-name {
  font-size: calc(1em+1vw);
  letter-spacing: 0.25em;
}

.takoimg{
  height: 4em;
  width: 3em;
}

#disclaimer h6 {
  font-size: .7em;
  letter-spacing: .5em;
  text-align: center;
}


.icons{
  font-size: 20px; 
}

#disclaimer p, #copyright {
  font-size: 0.4em;
}
}

@media only screen and (min-width: 451px) and (max-width: 699px) {
.tako-name {
  font-size: 1.1em;
  letter-spacing: 1em;
}

.takoimg{
  height: 4em;
  width: 3em;
}

#disclaimer h6 {
  font-size: 1em;
  letter-spacing: .5em;
  text-align: center;
}

#icons-main{
  text-align: center;
}


#disclaimer p, #copyright {
  font-size: 0.6em;
}

.icons {
  font-size: 30px;
}
}


@media only screen and (min-width: 700px) and 
(max-width: 960px) {
.tako-name {
  font-size: 1.5em;
  letter-spacing: 1em;
}

.takoimg{
  height: 4em;
  width: 3em;
}

#disclaimer h6 {
  font-size: 1em;
  letter-spacing: .5em;
}

#disclaimer p, #copyright {
  font-size: 0.7em;
}

.icons{
  font-size: 50px; 
}
}



@media only screen and (min-width: 961px) {
.tako-name {
  font-size: 2em;
  letter-spacing: 1em;
  margin-top: 50px;
}

.takoimg{
  height: 4em;
  width: 3em;
}

#disclaimer h6 {
  font-size: 2em;
  letter-spacing: .5em;
}

#disclaimer p, #copyright {
  font-size: 1em;
}

.icons{
  font-size: 100px; 
}
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {

.flex1 h1{
  font-size: 4em;
}

.flex1 p{
  font-size: 2em;
}

}


@media only screen and (min-width: 900px) and (max-width: 1200px) {
.flexing {
  margin: 4em 0;
}

.flex1 {
  margin-right: 2em;
}


.flex1 h1{
  font-size: 3em;
}

.flex1 p{
  font-size: 1.4em;
}

.in-flex2 {
  margin-left: 1.8em;
}

.carousel, .slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
  border-radius: 100%;
  height: 25em;
  width: 25em;
  overflow: hidden;
}

#in-flex3 button, #in-flex a {
  width: 7em;
  height: 2.5em;
  font-size: 2em;

}
}

@media only screen and (min-width: 700px) and (max-width: 800px) {
.flexing {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;


}

.flex1 {
  width: 90vw;
  margin-right: 0;
  padding: 0;
}

.flex2 {
  margin-bottom: 2em;
}

}

@media only screen and (min-width: 300px) and (max-width: 450px) {
.flexing {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

}

.flex1 {
  width: 90vw;
  margin-right: 0;
  padding: 0;
}


.flex1 h1{
  font-size: 2em;
}

.flex1 p{
  font-size: 1em;
}


.carousel, .slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
  border-radius: 100%;
  height: 15em;
  width: 15em;
  overflow: hidden;
}

.flex2 {
margin-bottom: 2em;
padding:0;

}

.in-flex2 {
  margin: 0;
  padding: 0;
}
#in-flex3 button {
  position: relative;
  right: 10%;
}

#copy-right {
  font-size: 0.5em;
}

}