*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family:'a Asian Hiro';
    src: url('fontie-package2/a Asian Hiro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-007E;
}

@font-face {
    font-family:'Japanese 3017';
    src: url('fontie-package/Japanese 3017.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

#bg {
background: radial-gradient(#a8dadc, #457b9d);

 background-size: 200% 200%;

    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

.tako-name, #disclaimer h6, .font-col, .navbar-toggler-icon{
  font-family:'Japanese 3017';
  color: #e63946 !important;
}

#disclaimer p, .icons {
    color: #e63946;
}

.in-flex2 p, #disclaimer p, .in-flex2 button {
  font-family:'a Asian Hiro';
}

.navtog {
  font-size: 2em;
}

.in-flex p {
  color: #1d3557;
}

#disclaimer p {
  color: #e63946;
}

.back-color {
  background: #f1faee;
}


.in-flex2 h1, .in-flex2 span{
  font-family: 'Permanent Marker', cursive;
}

#copy-right{
  background-color: #1d3557;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}


.takoimg{
  height: 4em;
  width: 3em;
}

.btn {
  color: #e63946;
  cursor: pointer;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn {
    margin: 0 1em 2em;
}

.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: #e63946;
  font-weight: 100;
}

.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-1 rect {
  fill: none;
  stroke: #e63946;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.35s linear;
}

.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}

.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all .1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all .35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

@-webkit-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}


.hvr-wobble-to-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-wobble-to-top-right:hover, .hvr-wobble-to-top-right:focus, .hvr-wobble-to-top-right:active {
  -webkit-animation-name: hvr-wobble-to-top-right;
  animation-name: hvr-wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*BODY*/
.flexing {
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.flex1, .flex4{
  height: 80vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex2 {
  margin-top: 5vh;
  height: 60vh;
  display: flex;
  flex-direction: row;
  width: 70vw;
}

.in-flex2 {
  margin: 0 2vw;
  padding: 0 1vw;
  background: rgba(255,250,250,0.3);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.in-flex2 button {
  text-decoration: none;
  border: none;
  height: 3em;
  width: 7em;
  background-color: #e63946;
  border-radius: 10px;
  color: #f1faee;
}

.flex3 {
  margin-right: 0.5vw;
}

.flex4 {
  margin-left: 0.5vw;
}

.paragraph {
  margin: 1em 2em;
}


/*images*/

.fleximg1, .fleximg2 {
  border-radius: 100%;
  width: 13em;
  height: 13em;
  border: 0.5em solid pink;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.imgorder {
  border-radius: 100%;
  width: 15em;
  height: 15em;
  border: 0.5em solid  #e63946;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
  transition: all 0.35s ease-in-out;
  transform: translateX(0) rotate(0);
}

.img1:hover, .img2:hover, .img3:hover {
  transform: translateX(-30%) rotate(-180deg);
}

.img4:hover, .img5:hover, .img6:hover {
  transform: translateX(30%) rotate(180deg);
}


.img-hover-zoom{
  transition: transform .5s ease;
}

.img-hover-zoom:hover{
  transform: scale(1.5);
}

/*images*/




/*BODY*/

@media only screen and (max-width: 450px) {
.tako-name {
  font-size: calc(1em+1vw);
  letter-spacing: 0.25em;
}

.takoimg{
  height: 4em;
  width: 3em;
}

#disclaimer h6 {
  font-size: .7em;
  letter-spacing: .5em;
  text-align: center;
}


.icons{
  font-size: 20px; 
}

#disclaimer p, #copyright {
  font-size: 0.4em;
}
}

@media only screen and (min-width: 451px) and (max-width: 699px) {
.tako-name {
  font-size: 1.1em;
  letter-spacing: 1em;
}

.takoimg{
  height: 4em;
  width: 3em;
}

#disclaimer h6 {
  font-size: 1em;
  letter-spacing: .5em;
  text-align: center;
}

#icons-main{
  text-align: center;
}


#disclaimer p, #copyright {
  font-size: 0.6em;
}

.icons {
  font-size: 30px;
}
}


@media only screen and (min-width: 700px) and 
(max-width: 960px) {
.tako-name {
  font-size: 1.5em;
  letter-spacing: 1em;
}

.takoimg{
  height: 4em;
  width: 3em;
}

#disclaimer h6 {
  font-size: 1em;
  letter-spacing: .5em;
}

#disclaimer p, #copyright {
  font-size: 0.7em;
}

.icons{
  font-size: 50px; 
}
}



@media only screen and (min-width: 961px) {
.tako-name {
  font-size: 2em;
  letter-spacing: 1em;
  margin-top: 50px;
}

.takoimg{
  height: 4em;
  width: 3em;
}

#disclaimer h6 {
  font-size: 2em;
  letter-spacing: .5em;
}

#disclaimer p, #copyright {
  font-size: 1em;
}

.icons{
  font-size: 100px; 
}
}


/*BODY*/
@media only screen and (min-width: 900px) and (max-width: 1200px){

.flex2 {
  margin-top: 5vh;
  height: 70vh;
  display: flex;
  flex-direction: row;
  width: 60vw;
}

.in-flex2 h1{
  font-size: 2em;
}

.flex4 {
  margin-left: 2em;
}


/*images*/

.fleximg1, .fleximg2 {
  border-radius: 100%;
  width: 9em;
  height: 9em;
  border: 0.5em solid pink;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.imgorder {
  border-radius: 100%;
  width: 10em;
  height: 10em;
  border: 0.5em solid #e63946;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
}
/*images*/


@media only screen and (min-width: 1200px) and (max-width: 1500px){

.flexing {
  width: 100vw;
  margin-left: 0;
  justify-content: center;
  align-items: center;
}

.flex2 {
  margin-top: 5vh;
  height: 70vh;
  display: flex;
  flex-direction: row;
  width: 70%;
}

.flex4 {
  margin-right: 2em;
}
/*images*/

.fleximg1, .fleximg2 {
  border-radius: 100%;
  width: 9em;
  height: 9em;
  border: 0.5em solid pink;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.imgorder {
  border-radius: 100%;
  width: 10em;
  height: 10em;
  border: 0.5em solid #e63946;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
}
/*images*/

@media only screen and (min-width: 1500px) and (max-width: 1800px){

.flex2 {
  margin-top: 5vh;
  height: 70vh;
  display: flex;
  flex-direction: row;
  width: 70vw;
}

/*images*/

.fleximg1, .fleximg2 {
  border-radius: 100%;
  width: 10em;
  height: 10em;
  border: 0.5em solid pink;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.imgorder {
  border-radius: 100%;
  width: 11em;
  height: 11em;
  border: 0.5em solid #e63946;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
}
/*images*/


@media only screen and (min-width: 700px) and (max-width: 800px){

.flexing{
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  padding: 0;
}

.flex2 {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 65vh;
}

.flex1, .flex4{
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 50vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.flex1 {
  margin-top: 2em;
}

.flex4 {
  margin-bottom: 2em;
}

.in-flex2 {
  height: 60vh;
}

.in-flex2 h1, {
   font-size: 0.5em;

}

.in-flex2 h1, .in-flex2 span, .in-flex2 button {
   font-family: 'Permanent Marker', cursive;
}

.paragraph {
  margin: 0.5em 0.5em;
}


.fleximg1, .fleximg2 {
  border-radius: 100%;
  width: 8em;
  height: 8em;
  border: 0.3em solid pink;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 4em;
  margin-right: 4em;
}

.imgorder {
  border-radius: 100%;
  width: 10em;
  height: 10em;
  border: 0.3em solid #e63946;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
}



@media only screen and (min-width: 300px) and (max-width: 450px){


.flexing{
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  justify-content: center; 
  align-items: center;
}

.flex1, .flex4{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 5vh;
}

.flex2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200vh;
  width: 100vw;
  margin-bottom: 2em;
  width: 90vw;
}


.flex1 {
  margin-bottom: 0em;
  margin-top: 3em;
}

.flex4 {
  margin-top: 1em;
  margin-bottom: 2em;

}

.in-flex3 {
 margin-top: 2em;
 margin-bottom: 2em;
}

.in-flex2 {
  width: 80%;
  height: 100vh;
}

.in-flex2 h1, {
   font-size: 0.5em;

}

.in-flex2 h1, .in-flex2 span, .in-flex2 button {
   font-family: 'Permanent Marker', cursive;
}

.paragraph {
  margin: 0.5em 0.5em;
}

.in-flex2 button {
  margin-bottom: .5em;
}

.fleximg1, .fleximg2 {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  border: 0.3em solid pink;
  margin-left: 2em;
  margin-right: 2em;
}

.imgorder {
  border-radius: 100%;
  width: 8em;
  height: 8em;
  border: 0.3em solid #e63946;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.in-flex2 button {
  margin-top: 1em;
}

footer {
  margin-top: 1em;
}

#copy-right {
  font-size: 0.5em;
}
}

/*images*/

/*BODY*/

